body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5; /* Muted grey-blue background */
  color: #333; /* Dark text color */
  transition: background-color 0.3s, color 0.3s;
}

/* Top bar */
.Header {
  background-color: #1c3f63; /* Darker blue header */
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

/* Sidebar */
.Sidebar {
  background-color: #385b7c; /* Slightly lighter blue sidebar */
  width: 240px;
  position: fixed;
  top: 56px; /* To avoid overlapping with the top bar */
  left: 0;
  bottom: 0;
  overflow-y: auto;
  color: white;

  /* align-items: center; */
  /* justify-content: center; */
}

.SidebarContent {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfile img {
  border-radius: 50%;
  border: 1px solid black;
}

/* Content */
.Content {
  margin-left: 240px; /* Width of the sidebar */
  padding-top: 56px; /* Height of the top bar */
  padding-left: 20px;
  padding-right: 20px;
  transition: margin-left 0.3s;
  overflow-y: auto; /* Enable vertical scrollbar when content overflows vertically */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Apply modern fonts */
.Header,
.Sidebar,
.Content {
  font-family: "Roboto", sans-serif; /* Replace with your preferred modern font */
}

/* Hover effect for buttons */
button:hover {
  background-color: #1c3f63; /* Darker blue on hover */
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

/* Style for the editItemDiv container */
.editItemDiv {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e0e0e0; /* Very light grey underline */
  padding: 10px 0;
}

/* Style for the editItemLabel */
.editItemLabel {
  flex: 0 0 20%; /* Takes up exactly 20% of the width */
  font-weight: bold;
  color: #424242;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style for the buttonContainer */
.editItemButtonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Style for the editItemValue */
.editItemValue {
  flex: 1; /* Takes up remaining space */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

/* Style for the editItemInput */
.editItemInput {
  flex: 1; /* Takes up remaining space */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter; /* Slightly lighter font */
  color: #555; /* Lighter font color */
  border: none; /* No visible border */
  border-bottom: 1px solid #e0e0e0;
  outline: none; /* Remove default focus outline */
  margin-right: 10px;
}


/* Style for the profileCell container */
.profileCell {
  border: 1px solid #ccc; /* Add a slim border */
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a modern look */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
}

/* Style for the profileHeader */
.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the profileName on the left side */
.profileName {
  font-weight: bold;
  font-size: 18px; /* Adjust the font size as needed */
  margin-bottom: 0; /* Remove padding on the bottom */
}

.addProfileButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: xx-large;
  background-color: #007bff;
  color: white;
}

/* Hover effect for buttons */
.addProfileButton:hover {
  background-color: #1c3f63; /* Darker blue on hover */
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.userProfilesHeading, .scehariosHeading {
  text-align: left;
  flex: 1;
}

.userProfilesHeader, .scenariosHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #424242;
}

/* Style for the buttonContainer on the right side */
.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Style for the Expand and Delete buttons */
.expandButton,
.deleteButton {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style for the profileExpanded section at the bottom */
.profileExpanded {
  padding-top: 10px;
}

/* Additional styling for the expanded profile information */
.profileExpanded strong {
  font-weight: bold;
}

/* Style for the tree nodes */
.tree_node {
  margin-left: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
}

/* Style for the tree node headers */
.tree_node_header {
  display:flex;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 18px; /* Adjust the font size as needed */
  margin-bottom: 0; /* Remove padding on the bottom */
  color: #333; /* Dark text color */
  padding: 10px;
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Add a border to the header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a modern look */
}

.tree_node_button_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 5px;
  margin-left: auto;
}

/* Style for the buttons inside the tree nodes */
.tree_node_button_container button {
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effect for tree node buttons */
.tree_node_button_container button:hover {
  background-color: #1c3f63; /* Darker blue on hover */
  transition: background-color 0.3s;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  width: 250px;
}

.dropdownItems {
  display: flex;
  flex-direction: column;
}

.dropdownButton {
  width: 100%;
}